################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.ipch
*.db
*.opendb
*.db
/HW3_S20141494/MAIN_SAMPLE_OPEN/.vs/MAIN_SAMPLE/v15/Browse.VC.db
*.opendb
*.db
/HW3_S20141494/MAIN_SAMPLE_OPEN/MAIN_SAMPLE/x64/Debug
/HW3_S20141494/MAIN_SAMPLE_OPEN/x64/Debug
*.exe
*.ilk
*.pdb
*.tlog
*.lastbuildstate
*.suo
*.obj
*.idb
*.enc
*.log
/HW3_S20141494.zip
